.faq {
  grid-column: 2/4;
}
.faq-lista {
  grid-column: 2/4;
}
.faq-lista dt {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: $color-1;
}

.faq-lista dt::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 10px;
  background-color: $color-1;
  margin-right: 10px;
}
.faq-lista dd {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 30px;
}

.js-accordion dd {
  display: none;
}

.js-accordion dt::after {
  content: "⬎";
  margin-left: 10px;
}

.js-accordion dt.ativo::after {
  content: "⬏";
  margin-left: 10px;
}

.js-accordion dd.ativo {
  transition: 0.5s;
  display: block;
  animation: slideDown 0.5s forwards;
}
@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 30px;
  }
}
